resources:
- name: bastion
  type: bastion.jinja
  properties:
    zone: {{ properties["zone"] }}
    image: {{ properties["image"] }}
    instanceType: {{ properties["bastionInstanceType"] }}
    rootVolumeSize: {{ properties["bastionRootVolumeSize"] }}

- name: master
  type: master.jinja
  properties:
    zone: {{ properties["zone"] }}
    image: {{ properties["image"] }}
    instanceType: {{ properties["masterInstanceType"] }}
    rootVolumeSize: {{ properties["masterRootVolumeSize"] }}
    clustername: {{ properties["clustername"] }}

